@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 15.38% 5.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 240 4% 44%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%;
    --radius: 1.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-gradient {
  background: linear-gradient(
      91.92deg,
      rgb(191, 168, 167) 0.99%,
      rgb(207, 211, 222) 34.85%,
      rgb(173, 187, 210) 67.46%,
      rgb(159, 172, 172) 79.92%,
      rgb(224, 219, 206) 93.48%
    )
    text;
}

.testimonials-left-side::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}

.testimonials-left-side::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 8;
  backdrop-filter: blur(26px);
  mask: linear-gradient(to left, rgba(0, 0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
}

.testimonials-left-side > div {
  position: absolute;
  inset: 0;
}

.testimonials-left-side > div:nth-last-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 12.5%,
    rgb(0, 0, 0) 25%,
    rgb(0, 0, 0) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}
.testimonials-left-side > div:nth-last-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 25%,
    rgb(0, 0, 0) 37.5%,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}
.testimonials-left-side > div:nth-last-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 37.5%,
    rgb(0, 0, 0) 50%,
    rgb(0, 0, 0) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}

.testimonials-left-side > div:nth-last-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 50%,
    rgb(0, 0, 0) 62.5%,
    rgb(0, 0, 0) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}
.testimonials-left-side > div:nth-last-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 62.5%,
    rgb(0, 0, 0) 75%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 62.5%,
    rgb(0, 0, 0) 75%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.testimonials-left-side > div:nth-last-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(24px);
  mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 75%,
    rgb(0, 0, 0) 87.5%,
    rgb(0, 0, 0) 100%
  );
  -webkit-mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 75%,
    rgb(0, 0, 0) 87.5%,
    rgb(0, 0, 0) 100%
  );
}

/* right */
.testimonials-right-side::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
  -webkit-mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}

.testimonials-right-side::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 8;
  backdrop-filter: blur(26px);
  mask: linear-gradient(to right, rgba(0, 0, 0, 0) 87.5%, rgb(0, 0, 0) 100%);
  -webkit-mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 87.5%,
    rgb(0, 0, 0) 100%
  );
}

.testimonials-right-side > div {
  position: absolute;
  inset: 0;
}

.testimonials-right-side > div:nth-last-of-type(1) {
  z-index: 2;
  backdrop-filter: blur(1px);
  mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 12.5%,
    rgb(0, 0, 0) 25%,
    rgb(0, 0, 0) 37.5%,
    rgba(0, 0, 0, 0) 50%
  );
}

.testimonials-right-side > div:nth-last-of-type(2) {
  z-index: 3;
  backdrop-filter: blur(2px);
  mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 25%,
    rgb(0, 0, 0) 37.5%,
    rgb(0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 62.5%
  );
}
.testimonials-right-side > div:nth-last-of-type(3) {
  z-index: 4;
  backdrop-filter: blur(4px);
  mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 37.5%,
    rgb(0, 0, 0) 50%,
    rgb(0, 0, 0) 62.5%,
    rgba(0, 0, 0, 0) 75%
  );
}

.testimonials-right-side > div:nth-last-of-type(4) {
  z-index: 5;
  backdrop-filter: blur(8px);
  mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 50%,
    rgb(0, 0, 0) 62.5%,
    rgb(0, 0, 0) 75%,
    rgba(0, 0, 0, 0) 87.5%
  );
}
.testimonials-right-side > div:nth-last-of-type(5) {
  z-index: 6;
  backdrop-filter: blur(16px);
  mask: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 62.5%,
    rgb(0, 0, 0) 75%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}
.testimonials-right-side > div:nth-last-of-type(6) {
  z-index: 7;
  backdrop-filter: blur(24px);
  mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 75%,
    rgb(0, 0, 0) 87.5%,
    rgb(0, 0, 0) 100%
  );
}

.text-rakib {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 10000;
  pointer-events: none;
  background: radial-gradient(
    48.62% 48.22% at 50% 48.22%,
    rgba(11, 11, 15, 0) 0%,
    rgba(11, 11, 15, 0) 40.25%,
    rgba(11, 11, 15, 0.36) 67%,
    rgba(11, 11, 15, 0.9) 90%,
    rgb(11, 11, 15) 100%
  );
}
